html {
	font-family: "Open Sans";
	scroll-behavior: smooth;
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin-top:  0;
	padding: 0;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s all;
}

img {
	display: block;
	max-width: 100%;
	
}

.wrapper--hello {
    background: url("../../img/decor/background.png");
    background-size: cover;
	min-height: 100%;
    background-repeat: no-repeat;
}

.wrapper__content {
	position: relative;
  height: 100%;
}

.wrapper__content--main {
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1141px;
}

.logo,.socials,.socials__link,.menu, .menu__item,.contacts {
  display: flex;
  flex-direction: column;
}

.logo.logo__img {
    float: left;
}

.contacts {
    float: right;
}


.menu {
    margin-left: 79px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

.contacts__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}

.contacts__info {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;
    text-align: end;
}

.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    position: relative;
}

.title--black {
    color: #000;
}
.hello__title {
    font: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
}
.offers__title {
	margin-bottom: 50px;
}

.footer {
    height: 146px;
    position: relative;
    color: black;
}
.menu__link {
    color: white;
}

.menu__link:hover {
color: #F5170E;
transition: .4s;
}

.menu__contacts {
    color: #000;
}

/* BUTTONS */

.button {
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 0px  ;
    height: 55px;
    width: 168px;
    color: #fff;
}

.button:hover {
    background: #DA0100;
    transition: .3s;
}

.button--red {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 0;
    width: 135px;
    color: #fff;
    text-align: center;
    height: 55px;
    font-weight: 700;
    font-size: 14px;
}

.button--red:hover {
    background: #DA0100;
    transition: .3s;
}


.button--red {
  text-transform: uppercase;
}

.button--dark {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2B2B2B;
    border-radius: 35px;
    padding: 18px 0px  ;
    height: 55px;
    width: 168px;
    color: #fff;
}

.button--dark:hover {
    background: #8E8E8E;
    color: #fff;
    transition: .3s;
}

.button--light {
    display: inline-flex;
    font-size: 14px;
    padding: 17px 39px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    background: #ffffff;
    color: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
}

.button--light:hover {
    background: #F5170E;
    transition: .3s;
    color: #fff;
}

.button--small--light{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700px;
    line-height: 19px;
    text-transform: uppercase;
    height: 55px;
    width: 135px;
}

.button--small--light {
    color: red;
    background-color: white;
    border: solid 1px red;
    text-transform: uppercase;
  }

  .button--small--light:hover {
    background: #F5170E;
    transition: .3s;
    color: #fff;
}

/* DROPDOWN */

.contacts {
	text-align: right;
	margin-top: 2px;
	flex-shrink: 0;
}

.contacts__description {
	font-size: 13px;
	line-height: 1.9;
	color: #9A9A9A;
}

.contacts__phone {
	display: block;
	font-size: 26px;
	margin-bottom: -4px;
}

.contacts__dropdown{
	position: relative;
	display: inline-block;
}

.contacts__dropdown:hover .contacts__dropdown-link{
	color: #fff;
	text-decoration: underline;
	transition: .5s;
}

.contacts__dropdown:hover .contacts__dropdown-body{
	right: 0;
	opacity: 0.8;
}

.contacts__dropdown-link {
	display: block;
	text-decoration: underline;
	font-size: 13px;
	margin: 3px 2px 0 0;
	color: #98A4A8;
}

.contacts__dropdown-body{
	position: absolute;
	right: 0;
	background-color: #ededed;
	padding: 11px 19px 15px;
	color: #1E1F20;
	font-size: 13px;
	line-height: 1.8;
	border-radius: 7px;
	top: 100%;
	width: 160px;
	opacity: 0;
	transition: opacity .5s;
	margin-top: 9px;
    text-align: left;
    font-weight: 500;
}

.contacts__dropdown-row--bold {
    font-weight: bold;
}




