.footer {
  height: 152px;
  position: relative;
}

.contacts__call {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
}

.socials__item{
    display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
}
.socials {
    position: absolute;
    top: 53px;
    right: 300px;
    margin-right: 274px;
    margin-top: 49px;
    margin-bottom: 61px;
}
.socials__link{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

.socials__item{
    margin-right: 0;
}
.socials__list{
    top: 49px;
    right: 300px;
}

.footer__container {
  border-top: 1px solid  #012330;
}
