.header__container{
  display: flex;
  align-items: center;
  padding-top: 29px;
}

.contacts{
  margin-left: auto;
}

.menu__item{
  margin-left: 54px;
}

.menu__item:first-child{
  margin-left: 0;
}

.header{
  margin-bottom: 130px;
}

.menu__list{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}