.hello{
  margin-bottom: 246px;
}

.hello__title{
  width: 511px;
  margin-bottom: 27px;
}

.hello__text{
  margin-bottom: 34px;
}

.news__content-content{
  position: absolute;
  font-weight:700px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-width: 140px;
}