.hello__container {
  position: absolute;
  width: 511px;
  height: 197px;
  left: 390px;
  top: 196px;
}

.hello__title {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
  margin-bottom: 27.5px;
  display: flex;
align-items: flex-end;
}

.hello__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 33.5px;
}

.button {
  margin-bottom: 246px;
}