

  .news__container {
    position: absolute;
    width: 1140px;
    height: 549px;
    left: 389px;
    top: 1451px;
    margin-bottom: 127px;
  }

.news__item {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 25px;
  margin-bottom: 58px;

}

.news__item:last-child {
  margin-right: 0px;

}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__item-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 120px;
}

.news__item-date {
  font-size: 14px;
  margin-bottom: 18px;
}

.news__item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.news__item-text {
  height: 49px;
}

.news__list{
  display: flex;

}