.pagination__item--active{
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
}
.pagination__item--active-one {
    Width: 32px;
    Height:32px;
    background-color: #F5170E;
    border-radius: 50%;
    color: white;
    margin-right: 13px;
        
    }
.agination__item--active--color{
    Width: 32px;
    Height:32px;
    background-color: #F5170E;
    border-radius: 50%;
    color: white;
    margin-right: 13px;
}
.pagination__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination__item--active  .agination__item--active--color{
    color: #F5170E;
}
.pagination__list{
    display: flex;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    }
.pagination__number{
display: flex;
font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
}
.pagination__info-contacts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25px;
    padding-left: 25px;
}
