.section {
    padding-top: 88px;
    padding-bottom: 37px;
}

.section_parters {
    background: #F4F5F5;
}
.h2_partners {
margin-bottom: 100px;
}
.parners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.parnters__item {
    min-width: 280px;
    margin-bottom: 80px;
    text-align: center;
    filter: grayscale(1);
    transition: .3s;
}
.parnters__item:hover {
    filter: grayscale(0);
}

.parnters__item:nth-child(4n+1) {
    text-align: left;
}

.parnters__item:nth-child(4n+4) {
    text-align: right;
}
.option {
    display: none;
}

.option + span {
    cursor: pointer;
}

.option:checked + span {
    color: red;
}