.button {
  display: inline-flex;
  font-size: 14px;
  border-radius: 26px;
  padding: 17px 39px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.button--small {	display: block;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 19px;
	background: #f5170e;
	border-radius: 35px;
	padding: 18px 0;
	width: 135px;
	color: #fff;
	text-align: center;}

.button--color--red {
  background-color: #da0100;
  color: #ffffff;
}

.button--color--white {
  background: #ffffff;
  color: #d21d16;
  border: 1px solid #eda5a2;
}

.button--color--grey {
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 19px 42px;
}


.button--size--small {
  padding: 16px 27px;
}

.button--size--smaller {
  padding: 17px 57px;
}

.feedback__btns {
  display: flex;
  justify-content: flex-end;
}

.feedback__btn { 
  margin-right: 23px;
}

.feedback__btn:last-of-type {
  margin-right: 0;
}