.reviews {
  background-color: #fff;
}

.reviews__container {
min-height: 1390px;

padding-top: 98px;
padding-bottom: 65px;
}

.review__post {
column-count: 2;
column-gap: 30px;
}

.posts__list {

}

.post__item {

}

.feedback {
  background-color: #fff;
  min-height: 800px;
}

.feedback__container {

}