.services-wrapper {
  height: 999px;
  width: 100%;
  background-color: #ffffff;
}

.services {
  min-height: 810px;
  padding-top: 101px;
  padding-bottom: 111px;
}

.service {
  display: flex;
  margin-bottom: 50px;
  height: 330px;
}

.service__content:last-child {
  margin-bottom: 77px;
}

.service__img-container {
background-color: #303030;
width: 40.1%;
border-radius: 6px;
overflow: hidden;
margin-right: 5.1%;
}

.service__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service__content {
  flex: 1;
}

.service__title {
  color: #000000;
}

.service__text {
  color: #303030;
  line-height: 27px;
  margin-bottom: 34px;
  
}

.partners-content {
  background-color: #f4f5f5;
  height: 534px;
}

.partners {
  padding-top: 83px;
  padding-bottom: 79px;
}

.partners__header {
  font-size: 48px;
  font-weight: 700;
  color: #202123;
  margin-bottom: 64px;
}

.partners__all {
  min-height: 254px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__item {
  flex-basis: 23%;
  display: flex;
  height: 100px;
  align-items: center;
}

.partners__item:nth-child(4n){
  text-align: right;

}

.partners__link {
  width: 100%;
}
