.main-content {
  margin-top: 247px;
  margin-bottom: 141px;
}

.offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers__country {
  min-height: 439px;
  width: calc(100% / 3 - 20px);
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;    
  flex-wrap: wrap; 
}

.offers__country:last-child{
  margin-right: 0;
}

.offers__header{
  height: 141px;
  width: 100%;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #303030;
}

.offers__img {
  width: 100%;
  height: 100%;
  border-radius: 6px 0 0;
  object-fit: cover;
}

.offers__content{
  padding: 25px 22px;
  color: #000000;  
}

.offers__name{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 17px;
}

.offers__info {
  width: 85%;
  margin-bottom: 26px;
  margin-left: 7px;
  display: flex;
  justify-content: space-between;
}

.offers__items {
  color: #666666;
  display: flex;
  align-items: center;
  
}

.offers__items-pic {
  margin-right: 9px;
}

.offers__description {
  margin-bottom: 24px;
  color: #303030;
  font-size: 14px;
  line-height: 21px;
}